@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600;700&family=Teko:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
}
header {
    background: white;
    justify-content: center;
    transition: all 0.9s ease-in-out;
}
header > h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
header > img {
    align-items: left;
    width: 125px;
}
body {
    background: #24272E;
}
footer {
    background: #48518f;
    padding: 10px;
    transition: all 0.9s ease-in-out;
}
footer > img {
    width: 125px;
}
.btn {
  border-radius: 10px;
  background-color: rgb(93, 197, 23);
  border-color: rgb(236, 22, 10);
  font-size: 150%;
  transition: linear;
}
.btn:hover {
  background-color: #e9473f;
  cursor: pointer;
  border-color: #066f09;
  transition: all 0.3s ease;
}
h1 {
  color: #2CE013;
  font-family: 'Roboto Mono', monospace;
  transition: 0.8s ease-in;
}
div > p {
    font-family: 'Teko', sans-serif;
    color: #1577C1;
    font-size: 40px;
    transition: all cubic-bezier(1, 0, 0, 1) ease;
}
header > img {
  border: 5px solid;
  border-color: #5E9CCA;
  border-radius: 50%;
}
